@import url(../../fonts/montserrat.css);

body {
  background-color: rgb(240, 240, 240);
}

.App {
  width: 1280px;
  margin: 0 auto;
  color: rgb(79, 79, 79);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}